<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.danielkao.autoscreenonoff"
    android:versionCode="20"
    android:versionName="2.0.7" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />
    <!-- <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/> -->

    <uses-feature android:name="android.hardware.sensor.proximity" android:required="true" />

    <!-- for admob
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    -->

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.danielkao.autoscreenonoff.MainActivity"
            android:excludeFromRecents="true"
            android:label="@string/app_name" >
        </activity>

        <activity
                android:name=".ScreenOffWidgetConfigure"
                android:label="@string/setting_name">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>

        <!-- admob
        <activity android:name="com.google.ads.AdActivity"
                  android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"/>
         -->

        <receiver
            android:name=".TurnOffReceiver"
	        android:label="@string/app_name"
            android:permission="android.permission.BIND_DEVICE_ADMIN" >
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/deviceinfo" />

            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
                <action android:name="android.app.action.DEVICE_ADMIN_DISABLED" />
            </intent-filter>
        </receiver>

        <receiver android:name=".ChargingStatusChangeReceiver" android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED"/>
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.danielkao.autoscreenonoff.SensorMonitorService"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.danielkao.autoscreenonoff.serviceaction" />
            </intent-filter>
        </service>

        <receiver android:name="ToggleAutoScreenOnOffAppWidgetProvider"
                  android:configure="com.danielkao.autoscreenonoff.ScreenOffWidgetConfigure"
                >

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.danielkao.autoscreenonoff.updatewidget" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/toggleonoff_appwidget_info" />
        </receiver>
        <receiver
                android:name=".AppReplaceReceiver"
                android:label="app_replace">
        <intent-filter>
            <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
        </intent-filter>
        </receiver>

    </application>

</manifest>