<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.danielkao.autoscreenonoff"
    android:versionCode="5"
    android:versionName="1.4" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-feature android:name="android.hardware.sensor.proximity" android:required="true" />

    <!-- for ads -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.danielkao.autoscreenonoff.MainActivity"
            android:excludeFromRecents="true"
            android:label="@string/app_name" >
            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>

        <activity
                android:name=".ScreenOffWidgetConfigure"
                android:label="@string/setting_name">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>

        <!-- mobad -->
        <activity android:name="com.google.ads.AdActivity"
                  android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"/>

        <receiver
            android:name="com.danielkao.autoscreenonoff.TurnOffReceiver"
	        android:label="@string/app_name"
            android:permission="android.permission.BIND_DEVICE_ADMIN" >
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/deviceinfo" />

            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
                <action android:name="android.app.action.DEVICE_ADMIN_DISABLED" />
            </intent-filter>
        </receiver>

        <receiver android:name="com.danielkao.autoscreenonoff.ChargingStatusChangeReceiver" android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED"/>
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED"/>
            </intent-filter>
        </receiver>

        <service
            android:name="com.danielkao.autoscreenonoff.SensorMonitorService"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.danielkao.autoscreenonoff.serviceaction" />
            </intent-filter>
        </service>

        <receiver android:name="ToggleAutoScreenOnOffAppWidgetProvider"
                  android:configure="com.danielkao.autoscreenonoff.ScreenOffWidgetConfigure"
                >

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.danielkao.autoscreenonoff.updatewidget" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/toggleonoff_appwidget_info" />
        </receiver>
        <receiver android:name=".ChargingStatusChangeReceiver"/>

    </application>

</manifest>